<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grg.cloud.dao.DeptDao">


	<select id="findById" resultType="com.grg.cloud.Dept" parameterType="Long">
		select deptno,dname,db_source from dept2 where deptno=#{deptno};
	</select>
	<select id="findAll" resultType="com.grg.cloud.Dept">
		select deptno,dname,db_source from dept2;
	</select>
	<insert id="addDept" parameterType="com.grg.cloud.Dept">
		INSERT INTO dept2(dname,db_source) VALUES(#{dname},DATABASE());
	</insert>

</mapper>


